button {
  background-color: transparent;
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  transition: all 0.1s linear;
  white-space: nowrap;
}
button.rect {
  border-radius: 0;
}
button.fit {
  padding: 0;
}

button.light {
  color: #383838;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  box-shadow: 4px 4px 10px 0px rgb(226, 226, 226);
}
button.dark {
  color: rgb(248, 248, 248);
  text-shadow: 0px 0px 5px #000000;
  box-shadow: 4px 4px 10px 0px rgb(27, 27, 27);
}

button.flat {
  box-shadow: 0px 0px 0px 0px rgb(226, 226, 226);
}

button.light:disabled {
  opacity: 0.5;
  color: #6a6a6a;
  box-shadow: 2px 2px 5px 0px rgb(226, 226, 226);
}
button.dark:disabled {
  opacity: 0.5;
  color: #909090;
  box-shadow: 2px 2px 5px 0px rgb(27, 27, 27);
}
button.flat.light:disabled {
  box-shadow: 2px 2px 5px 0px rgb(226, 226, 226) inset;
}
button.flat.dark:disabled {
  box-shadow: 2px 2px 5px 0px rgb(27, 27, 27) inset;
}

button.light:active {
  box-shadow: 0px 0px 0px 0px rgb(226, 226, 226), 4px 4px 10px 0px rgb(226, 226, 226) inset;
}
button.dark:active {
  box-shadow: 0px 0px 0px 0px rgb(27, 27, 27), 4px 4px 10px 0px rgb(27, 27, 27) inset;
}

@media (hover: hover) {
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }

  button.light:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  button.dark:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  button:active:hover {
    background-color: transparent;
  }

  button.light:disabled:hover {
    box-shadow: 2px 2px 5px 0px #d4d4d4;
  }
  button.dark:disabled:hover {
    box-shadow: 2px 2px 5px 0px #2c2c2c;
  }
  button.flat:disabled:hover {
    background-color: transparent;
  }
  button.flat.light:disabled:hover {
    box-shadow: 2px 2px 5px 0px rgb(226, 226, 226) inset;
  }
  button.flat.dark:disabled:hover {
    box-shadow: 2px 2px 5px 0px rgb(27, 27, 27) inset;
  }
}
