.help-button {
  width: 2rem;
  height: 2rem;
  border: 2px solid !important;
  border-color: #fff !important;
  transition: all .15s linear;
  background-color: transparent;
  box-shadow: 0 0 30px 0 #000;
}

.help-button.active {
  box-shadow: 0 0 10px 0 #000 inset;
  border-color: var(--brand) !important;
  background-color: #fff;
}

.help-button.active img {
  filter: invert(1);
}

.help-button:hover {
  border-color: var(--brand) !important;
  background-color: #fff;
}

.help-button:hover img {
  filter: invert(1);
}

.help-button img {
  width: 1rem !important;
  transition: filter .15s linear;
}