.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  background-color: #8383834d;
  backdrop-filter: blur(5px);
}

.backdrop.clear {
  backdrop-filter: unset;
  background-color: unset;
}

.backdrop.enter {
  opacity: 0;
}
.backdrop.enterActive {
  transition: opacity 0.15s linear;
  opacity: 1;
}
.backdrop.exit {
  opacity: 1;
}
.backdrop.exitActive {
  transition: opacity 0.15s linear;
  opacity: 0;
}

.backdrop.layer0 {
  z-index: 100;
}

.backdrop.layer1 {
  z-index: 105;
}

.backdrop.layer2 {
  z-index: 110;
}
