.desc {
  width: 100%;
  text-align: left;
  font-weight: 100;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1.5rem;
}

.controls button:not(:last-child) {
  margin-right: 0.5rem;
}
