.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  column-gap: 1rem;
  user-select: none;
}

.brand img {
  max-width: 20vw;
}

.brand span {
  margin: 0;
  font-family: "Audiowide";
  font-size: 4rem;
  color: #dddddd;
}

.brand.editor {
  display: none;
  background-color: #414040d6;
  backdrop-filter: blur(1px);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .brand.editor {
    display: flex;
  }
}

@media (min-width: 1024px) {
}
