.properties {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100vh;
  width: 100vw;
  transition: right 0.15s ease-in-out;
  background-color: #fff;
  overflow: visible;
  z-index: 105;
  background-color: #414041;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #111;
  overflow-y: overlay;
}
.properties.open {
  right: 0;
}

.properties .header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 1rem;
  box-shadow: 0px 0px 10px 0px #000;
}
.header section {
  position: relative;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
.header section button {
  margin-right: 1rem;
  border: 1px solid #7e7e7e;
}
.header section h1 {
  margin: 0;
  line-height: 100%;
}

.properties .content {
  position: relative;
  width: 100%;
  z-index: 0;
  flex: 1;
  padding: 0 1rem 1.5rem 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.content .controls {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.controls button:not(:last-child) {
  margin-right: 0.5rem;
}

.content h3 {
  margin: 0;
  font-weight: 100;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  text-align: left;
  border-bottom: 1px solid #767676;
  padding-bottom: 0.5rem;
}
.content h3:first-of-type {
  margin-top: 1.5rem;
}
.prop {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 0.5rem;
}
.prop:first-of-type {
  margin-top: 1rem;
}
.prop-input {
  border: none;
  padding: 0.3rem 0.5rem;
  transition: box-shadow 0.1s linear;
  outline: none;
  background-color: transparent;
  color: #eaeaea;
  border-bottom: 1px solid #fff;
}
.prop-input:focus {
  box-shadow: 0 0 5px 0px #000 inset;
}
.prop-input:disabled {
  background-color: #5b5b5b;
  color: #929292;
  border-bottom: none;
}

.prop select {
  background-color: #414041;
  color: #fff;
  border: 1px solid #b5b5b5;
  padding: 0.2rem 0.5rem;
}

.prop input[type="range"] {
  appearance: none;
  width: 100%;
  background: transparent;
}
.prop input[type="range"]:focus {
  outline: none;
}
.prop input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.prop input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: #c1c1c1;
  cursor: pointer;
  margin-top: -0.25rem;
  box-shadow: 0 0 5px 0 #000;
}
.prop input[type="range"]:focus::-webkit-slider-thumb {
  background: #ededed;
}
.prop input[type="range"]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background: #c1c1c1;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #000;
}
.prop input[type="range"]:focus::-moz-range-thumb {
  background: #ededed;
}
.prop input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #a0a0a0;
}
.prop input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #7c7c7c;
}
.prop input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #a0a0a0;
}
.prop input[type="range"]:focus::-moz-range-track {
  background: #7c7c7c;
}
.prop fieldset {
  text-align: left;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
}
.prop fieldset label {
  margin-left: 0.5rem;
}
.prop fieldset .rgoption {
  display: flex;
  align-items: center;
}
.prop fieldset .rgoption label {
  cursor: pointer;
}
.prop input[type="radio"] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid grey;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.prop input[type="radio"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  background-color: grey;
}
.prop input[type="radio"]:checked::before {
  transform: scale(1);
}

.propcontrols {
  text-align: left;
}
.propcontrols button:not(:last-child) {
  margin-right: 0.5rem;
}

.content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (hover: hover) {
  .properties .content {
    scrollbar-gutter: stable;
  }
  .properties .content::-webkit-scrollbar {
    background-color: transparent;
    width: var(--scrollbar-width);
  }
  .properties .content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.347);
    width: var(--scrollbar-width);
  }
  .properties .content::-webkit-scrollbar-thumb {
    background-color: rgba(174, 174, 174, 0.73);
    border-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .properties {
    width: 20rem;
    right: -20rem;
  }
}

@media (min-width: 1024px) {
}
