.nodelist {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ddd;
}

.nodelist button {
  text-align: left;
  color: #ddd;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: background-color 0.1s linear;
  border-radius: unset;
}

.nodelist button.dragged {
  animation-name: dragged;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.nodelist button > img {
  border-radius: 1rem;
  transition: box-shadow 0.1s linear;
}
.nodelist button > img:focus {
  box-shadow: 0px 0px 10px 0px #fff;
}

.nodelist button:not(:first-child) {
  margin-top: 0.5rem;
}

@keyframes dragged {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #3d6d3d;
  }
  100% {
    background-color: #539253;
  }
}

@media (hover: hover) {
  .nodelist button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .nodelist button > img:hover {
    box-shadow: 0px 0px 10px 0px #fff;
  }
}
