main.home-main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-back-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/noise.svg");
  z-index: -1;
  filter: blur(1px);
}

.home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image {
  max-width: 10vh;
  margin-right: 1rem;
}

.cover-name {
  margin: 0;
  font-family: "Audiowide";
  font-size: 4rem;
  color: #dddddd;
}

.cover-line {
  color: #dddddd;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: 0;
}

@media (min-width: 768px) {
  .cover-image {
    max-width: 14vh;
  }

  .cover-name {
    font-size: 6rem;
  }

  .cover-line {
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .cover-image {
    max-width: 18vh;
  }

  .cover-name {
    font-size: 8rem;
  }

  .cover-line {
    font-size: 1.8rem;
  }
}
