main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .brand img {
  max-width: 10vh;
  margin-right: 1rem;
}

main .brand span {
  margin: 0;
  font-family: "Audiowide";
  font-size: 4rem;
  color: #dddddd;
}

.cover p {
  color: #dddddd;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: 0;
}

@media (min-width: 768px) {
  main .brand img {
    max-width: 14vh;
  }

  main .brand span {
    font-size: 6rem;
  }

  .cover p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  main .brand img {
    max-width: 18vh;
  }

  main .brand span {
    font-size: 8rem;
  }

  .cover p {
    font-size: 1.8rem;
  }
}
