.animated-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}
.back-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/noise.svg");
  z-index: -1;
  filter: blur(1px);
}
