.header {
  position: relative;
  width: calc(100% - 2rem);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: var(--header-height);
  transition: box-shadow 0.1s linear, border-bottom 0.1s linear;
  background-color: #414041;
  border-bottom: 1px solid #909090;
}
.header.transparent {
  background-color: transparent;
  border: none !important;
}
.header.shadow {
  box-shadow: 0px 0px 25px 0px #000;
  border-bottom: 0px solid;
}
.header.fixed {
  position: fixed;
}
.header .right {
  position: relative;
}
