header {
  position: absolute;
  width: calc(100% - 2rem);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-width: calc(359px - 2rem);
  top: 0;
  height: var(--header-height);
}

header .left {
  display: flex;
  align-items: center;
}

header .left img {
  box-shadow: 0 0 30px 0 #000;
}

header img {
  width: 2rem;
  vertical-align: bottom;
}

header button {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

header span {
  font-family: Audiowide;
  color: #ddd;
  position: relative;
  left: -55%;
  opacity: 0;
  transition: left var(--duration-effect-slow) linear, opacity 0.15s linear;
  pointer-events: none;
}

@media (hover: hover) {
  header .left:hover span {
    left: 0%;
    opacity: 1;
  }
}
