footer {
  position: fixed;
  width: calc(100% - 2rem);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-width: calc(359px - 2rem);
  user-select: none;
  height: var(--footer-height);
  bottom: 0;
}
