.footer {
  position: relative;
  width: calc(100% - 2rem);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-width: calc(359px - 2rem);
  user-select: none;
  height: calc(var(--footer-height) - 1px);
  background-color: #414041;
  border-top: 1px solid #909090;
}
.footer.transparent {
  background-color: transparent;
  border: none !important;
  height: var(--footer-height);
}
.footer.fixed {
  position: fixed;
  bottom: 0;
}
