@font-face {
  font-family: Audiowide;
  src: url('./assets/fonts/Audiowide.woff');
}

html {
  min-width: 359px;
  min-height: 500px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --brand: #3f3f3f;
  --bg-arrow: #cccccc;
  --text: #c1c1c1;
  --text-lightest: #656565;
  --header-height: 3.8rem;
  --theme-transition-bg: background-color .2s linear;
  --theme-transition-text: color .2s linear;
  --theme-transition-border: border .2s linear;
  --theme-transition-all: var(--theme-transition-bg), var(--theme-transition-text), var(--theme-transition-border);
}