:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brand: #3f3f3f;
  --bg-arrow: #cccccc;
  --text: #c1c1c1;
  --text-lightest: #656565;
  --header-height: 3.8rem;
  --duration-effect: 0.2s;
  --duration-effect-slow: 0.15s;
  --theme-transition-bg: background-color var(--duration-effect) linear;
  --theme-transition-text: color var(--duration-effect) linear;
  --theme-transition-border: border var(--duration-effect) linear;
  --theme-transition-all: var(--theme-transition-bg), var(--theme-transition-text),
    var(--theme-transition-border);
}

@font-face {
  font-family: Audiowide;
  src: url("./assets/fonts/Audiowide.woff");
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.ml-1 {
  margin-left: 1rem;
}

.ws-no-wrap {
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
}
