.main {
  position: relative;
  width: 100%;
  background-color: #414041;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
  top: var(--header-height);
  padding-bottom: calc(var(--footer-height) + 2rem);
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.main .title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
}

.main .content {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  flex: 1;
}

.main .title-name {
  font-weight: 100;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title .controls {
  margin-top: 1rem;
}

.title .controls button:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .main .title {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .main .title-name {
    font-size: 3.5rem;
  }

  .title .controls {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .main .title-name {
    font-size: 4rem;
  }
}
